<h3><%= @workout[0].capitalize %> Workout from <%= @workout[1] %></h3>

<ul id = "list_of_exercises">
  <% @exercises.each do |tuple| %>

    <li>
      Name: <%= tuple["name"] %> 
      <% unless all_exercise_info_nil?(tuple) %>

        <ul>

          <% get_all_non_nil_exercise_info(tuple).each do |col_name, value|%>
            <% label_info = get_label_info(col_name) %>
            <li><%= label_info[0] %>: <%= value %> <%= label_info[1] %></li>
          <% end %>

        </ul>
      <% end %>
    </li>

    <a href="/workouts/<%= params[:workout_id] %>/edit_exercise/<%= tuple["id"] %>">Edit Exercise</a>
    <form action="/workouts/<%= params[:workout_id] %>/delete_exercise/<%= tuple["id"] %>" method="post">
      <button type="submit">Delete</button>
    </form>
  <% end %>
</ul>

<a href="/workouts/<%= params[:workout_id]%>/exercises/new">Add New Exercise</a>
<form action="/workouts/delete_workout/<%= params[:workout_id] %>" method="post">
  <button type="submit">Delete Whole Workout</button>
</form>