<h3><%= @workout[0].capitalize %> Workout from <%= @workout[1] %></h3>

<ul id = "list_of_exercises">
  <% @exercises.each do |tuple| %>
    <li>
      Name: <%= tuple[0] %> Sets: <%= tuple[1] %> Reps: <%= tuple[2] %>
      Weight: <%= tuple[3] %> lbs
      Rest: Sets: <%= tuple[4] %> minutes
    </li>
  <% end %>
</ul>

<a href="/workouts/<%= params[:workout_id]%>/exercises/new">Add New Exercise</a>